# -------------------
# Python
# -------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------
# 仮想環境
# -------------------
.venv/
venv/

# -------------------
# 環境変数
# -------------------
.env
.env.*

# -------------------
# data
# -------------------
data/
*.csv
*.txt
*.xml
*.parquet

# -------------------
# ログファイル
# -------------------
logs/
*.log

# -------------------
# データベース
# -------------------
*.sqlite3
*.db
